.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
dist/
vendor/
config.json
config.yaml
config.yaml
derp.yaml

# Go workspace file
go.work

# Exclude Jetbrains Editors
.idea

test_output/
control_logs/
 
# Ignore built binary for storage-manager
cmd/storage-manager/storage-manager
